@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

.App {
  font-family: "Quicksand", sans-serif;
}

.logo-font {
  font-family: "Source Code Pro", monospace;
  color: aliceblue;
}
