@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.App {
  font-family: "Montserrat", sans-serif;
}

.logo-font-white {
  font-family: "Source Code Pro", monospace;
  color: aliceblue;
}
.logo-font-black {
  font-family: "Source Code Pro", monospace;
  color: black;
}

.bg-image-custom1 {
  background-image: url("./assets/circuit-board-background-black.png");
}
.bg-image-custom2 {
  background-image: url("./assets/circuit-board-background-white.png");
}

.bg-home {
  background-image: url("./assets/background-img.jpg");
}

.coffee-font {
  font-family: "Caveat", cursive;
  color: black;
}

.buycoffee {
  height: 60px !important;
  width: 217px !important;
}
