@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.App {
  font-family: "Montserrat", sans-serif;
}

.logo-font {
  font-family: "Source Code Pro", monospace;
  color: aliceblue;
}

.bg-image-custom {
  /* background-image: url("./assets/web-background.png"); */
  background-image: url("./assets/circuit-board-background.png");
}

.bg-home {
  background-image: url("./assets/background-img.jpg");
}

.coffee-font {
  font-family: "Caveat", cursive;
  color: black;
}

.buycoffee {
  height: 60px !important;
  width: 217px !important;
}
